{% extends 'base.html.twig' %}

{% block title %}Create New Post{% endblock %}

{% block bread %}
→ <a href="{{ path('app_micro_post_show', {id: post.id}) }}" class='text-decoration-none text-dark'>Post</a> → Edit
{% endblock %}

{% block body %}
  {{ include ('pages/micro_post/_form.html.twig') }}
{% endblock %}