{% extends 'base.html.twig' %}

{% block title %}Top Liked Posts{% endblock %}

{% block bread %}
→ Top Liked
{% endblock %}

{% block body %}
<div class="container">
{{ include('pages/micro_post/_post_tabs.html.twig') }}
{{ include ('pages/micro_post/_post_list.html.twig') }}

</div>
{% endblock %}